---
version: 2.0
jobs:
  build:
    docker:
      - image: "circleci/ruby:2.6-browsers"
    steps:
      - checkout
      - restore_cache:
          key: rubygems-{{ checksum "Gemfile.lock" }}
      - run:
          name: update bundler
          command: gem install bundler --no-document
      - run:
          name: Bundle gems
          command: bundle install --path vendor/bundle
      - run:
          name: Bundle gems
          command: bundle binstubs --all
      - save_cache:
          key: rubygems-{{ checksum "Gemfile.lock" }}
          paths:
          - vendor/bundle
      - add_ssh_keys:
          fingerprints:
          - "5e:14:7a:cb:1d:0f:7c:01:34:8e:26:bd:69:40:61:80"
      - run:
          name: Run test
          command: ci/dispatcher.sh

workflows:
  version: 2
  default:
    jobs:
      - build
  daily:
    jobs:
      - build
    triggers:
      - schedule:
          cron: "55 2 * * *"
          filters:
            branches:
              only:
                - default-autoscale-amimoto
                - default-hiphop-amimoto
                - default-hvm-amimoto
                - default-hvm-php7-amimoto
                - default-modphp-amimoto
                - default-pvm-amimoto
                - default-woo-hhvm-amimoto
                - default-woo-hvm-amimoto
                - default-woo-modphp-amimoto
